-- MySQL dump 10.13  Distrib 8.0.39, for Win64 (x86_64)
--
-- Host: localhost    Database: ponto_db
-- ------------------------------------------------------
-- Server version	8.0.39

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `senha` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo` enum('admin','funcionaria') COLLATE utf8mb4_unicode_ci NOT NULL,
  `telefone` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  KEY `idx_users_telefone` (`telefone`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `records`
--

DROP TABLE IF EXISTS `records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `records` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `data` date NOT NULL,
  `hora_entrada` time DEFAULT NULL,
  `hora_saida` time DEFAULT NULL,
  `observacoes` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unico_registro_dia` (`user_id`,`data`),
  KEY `idx_records_user_data` (`user_id`,`data`),
  KEY `idx_records_data` (`data`),
  CONSTRAINT `records_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=561 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `records`
--

LOCK TABLES `records` WRITE;
/*!40000 ALTER TABLE `records` DISABLE KEYS */;
/*!40000 ALTER TABLE `records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `solicitacoes_correcao`
--

DROP TABLE IF EXISTS `solicitacoes_correcao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `solicitacoes_correcao` (
  `id` int NOT NULL AUTO_INCREMENT,
  `funcionaria_id` int NOT NULL,
  `data_solicitacao` datetime DEFAULT CURRENT_TIMESTAMP,
  `data_registro` date NOT NULL COMMENT 'Data do registro que precisa ser corrigido',
  `tipo` enum('entrada','saida','ambos') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Tipo de corre├º├úo solicitada',
  `horario_entrada` time DEFAULT NULL COMMENT 'Hor├írio de entrada informado',
  `horario_saida` time DEFAULT NULL COMMENT 'Hor├írio de sa├¡da informado',
  `justificativa` text COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Motivo da solicita├º├úo',
  `status` enum('pendente','aprovado','rejeitado') COLLATE utf8mb4_unicode_ci DEFAULT 'pendente',
  `observacao_admin` text COLLATE utf8mb4_unicode_ci COMMENT 'Observa├º├úo do admin ao aprovar/rejeitar',
  `data_processamento` datetime DEFAULT NULL COMMENT 'Quando foi aprovado/rejeitado',
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_solicitacao` (`funcionaria_id`,`data_registro`,`status`),
  KEY `idx_status` (`status`),
  KEY `idx_funcionaria` (`funcionaria_id`),
  KEY `idx_solicitacoes_status` (`status`),
  CONSTRAINT `solicitacoes_correcao_ibfk_1` FOREIGN KEY (`funcionaria_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `solicitacoes_correcao`
--

LOCK TABLES `solicitacoes_correcao` WRITE;
/*!40000 ALTER TABLE `solicitacoes_correcao` DISABLE KEYS */;
INSERT INTO `solicitacoes_correcao` VALUES (1,9,'2025-10-04 14:32:47','2025-10-04','saida',NULL,'14:00:00','Ajuste','aprovado','Aprovado','2025-10-04 14:34:17'),(2,7,'2025-10-08 23:49:25','2025-10-01','ambos','08:00:00','18:00:00','Esqueci','aprovado','Aprovado','2025-10-08 23:51:50'),(3,9,'2025-10-10 11:38:06','2025-10-09','ambos','08:00:00','18:00:00','Esqueci','aprovado','Aprovado em lote','2025-10-10 11:38:58');
/*!40000 ALTER TABLE `solicitacoes_correcao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `configuracoes_pagamento`
--

DROP TABLE IF EXISTS `configuracoes_pagamento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `configuracoes_pagamento` (
  `id` int NOT NULL AUTO_INCREMENT,
  `tipo_dia` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Dia da semana (segunda, terca, quarta, quinta, sexta, sabado, domingo)',
  `valor_hora` decimal(10,2) NOT NULL COMMENT 'Valor pago por hora trabalhada neste dia',
  `data_criacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP COMMENT 'Quando foi criado',
  `data_atualizacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '├Ültima altera├º├úo',
  `atualizado_por` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Nome do admin que alterou',
  `ativo` tinyint(1) DEFAULT '1' COMMENT 'Permite desativar dias espec├¡ficos no futuro',
  PRIMARY KEY (`id`),
  UNIQUE KEY `tipo_dia` (`tipo_dia`),
  KEY `idx_tipo_dia` (`tipo_dia`),
  KEY `idx_ativo` (`ativo`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Valores de pagamento configur├íveis por dia da semana';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `configuracoes_pagamento`
--

LOCK TABLES `configuracoes_pagamento` WRITE;
/*!40000 ALTER TABLE `configuracoes_pagamento` DISABLE KEYS */;
/*!40000 ALTER TABLE `configuracoes_pagamento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historico_alteracoes`
--

DROP TABLE IF EXISTS `historico_alteracoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `historico_alteracoes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `record_id` int DEFAULT NULL,
  `data_alteracao` datetime DEFAULT CURRENT_TIMESTAMP,
  `hora_entrada_antiga` time DEFAULT NULL,
  `hora_saida_antiga` time DEFAULT NULL,
  `hora_entrada_nova` time DEFAULT NULL,
  `hora_saida_nova` time DEFAULT NULL,
  `alterado_por` int DEFAULT NULL,
  `motivo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historico_alteracoes`
--

LOCK TABLES `historico_alteracoes` WRITE;
/*!40000 ALTER TABLE `historico_alteracoes` DISABLE KEYS */;
/*!40000 ALTER TABLE `historico_alteracoes` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-10 17:56:46
