<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login - Controle de Ponto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Merriweather&display=swap" rel="stylesheet">    
</head>
<body>
  <main id="login-page">
    <section class="login-box">
        <section id="cabecalho-login">

          <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo ControleJá, letras estilizadas em azul e verde sobre fundo branco, transmite sensação de confiança e modernidade" class="login-logo">

          <h1 class="login-title">Sistema de Registro e Gestão de Ponto</h1>
        </section>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <section class="flash-messages">
              {% for msg in messages %}
                <p>{{ msg }}</p>
              {% endfor %}
          {% endif %}
        {% endwith %}
        <form method="post" id="login-form">
            <label for="username-login" class="usuario">Usuário</label>
            <input 
                type="text" 
                id="username-login" 
                name="username" 
                required 
                autofocus 
                placeholder="Digite seu usuário" 
            />
            <label for="senha-login" class="senha">Senha</label>
            <input 
                type="password" 
                id="senha-login" 
                name="senha" 
                required 
                placeholder="Digite sua senha" 
            />
            <button type="submit" id="btn-login">Entrar</button>
        </form>
        <p class="login-subtitle">Mercearia do Celinho</p>
      </section>
    </main>
</body>
</html>
